<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <style>
            .hidden {
                display: none;
            }
        </style>
    </head>
    <body>
        <main class="background">
            <section class="intro">
                <div class="intro__wrapper">
                    <p>This is your page</p>
                    {{ content | safe }}
                    <div class="intro__contacts">
                        <h2 class="intro__contacts__title">Contact us for enquiries:</h2>
                        <div class="intro__contacts__content">
                            <p>e-mail: <a href="mailto:info@sonytextile.com">info@sonytextile.com</a></p>
                            <p>phone: <a href="tel:351938028175‬">‭+351 938 028 175‬</a></p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>