---
title: homepage
layout: base.njk
---

<div class="intro__text">
    <h1>About Us.</h1>
    <p>This is just a listing page.</p>
</div>

{% for item in news %}
    <a href="/{{ item.country }}">{{ item.country }}</a>
{% endfor %}