---
title: Daily Briefing
layout: base.njk
pagination:
    data: news
    size: 1
    alias: news
permalink: /{{ news.country }}/index.html
---

<div class="intro__text">
    <h1>About Us.</h1>

    <ul>
    {% for article in news.articles %}
        <li><h2><a href="{{ article.url }}">{{ article.title }}</a></h2></li>
        <span>{{ article.source.name }} - <time>{{ article.publishedAt }}</time></span>
        <span>{{ article.source.name }} - <time>{{ article.publishedAt }}</time></span>
    {% endfor %}
    </ul>
</div>